<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LPMVVMDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EEECD9EF1C28EFAC005ED60C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEECDA081C28EFAC005ED60C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEECDA131C28EFAC005ED60C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
